/* src/index.css */
@tailwind utilities;
@tailwind components;
@tailwind base;

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

:root {
  --gradient-body: linear-gradient(
    127deg,
    rgb(184, 17, 245) 20%,
    rgb(159, 1, 159) 50%,
    rgb(144, 4, 123),
    rgb(97, 0, 83)
  );
  --color-1: #ffffff;
  --gradient-section-1: linear-gradient(
    1turn,
    transparent 85%,
    rgba(0, 0, 0, 0.277)
  );
  --gradient-section-2: linear-gradient(
    1turn,
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0.777) 70%,
    rgba(0, 0, 0, 0.651) 80%,
    rgba(0, 0, 0, 0.36) 92%,
    transparent
  );
  --gradient-section-3: linear-gradient(
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0.777) 70%,
    rgba(0, 0, 0, 0.651) 80%,
    rgba(0, 0, 0, 0.36) 92%,
    transparent
  );
}

* {
  mix-blend-mode: normal;
}

// *{
//   border:1px solid white;
// }

body {
  font-family: "Alatsi";
  font-weight: 200;
  font-style: normal;
  background-size: 300% 300%;
  background-color: purple;
  animation: bg-animation 20s infinite;
  background-image: var(--gradient-section-1), var(--gradient-body)
 
}

// animating gradient

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}


.about-section {
  background-image: var(--gradient-section-2), url("./assets/blob-haikei.svg");
  background-repeat: no-repeat;
  background-size: 250%;
  background-position-y: top;
  background-position-x: center;


}

// // fade-in transition

.fade-in-section {
  opacity: 0;
  transform: translateY(7vh);
  visibility: hidden;
  transition: none;
  will-change: opacity, visibility, transform;
}

.fade-in-section.scrolling-down {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

// remove animation on window resizing
.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}


// glow effect css
.glow-effect {
  --glow-line-color: #ffffff;
  --glow-line-thickness: 15px;
  --glow-line-length: 20px;
  --glow-blur-color: #840065;
  --glow-blur-size: 20px;
  --glow-offset: 0px;
  --animation-speed: 1200ms;
  /* do not change, used for calculations */
  --container-offset: 100px;
  position: relative;
}

.glow-container {
  pointer-events: none;
  position: absolute;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  opacity: 0;
  
}

.glow-blur,
.glow-line {
  width: calc(100% - var(--container-offset) + var(--glow-offset));
  height: calc(100% - var(--container-offset) + var(--glow-offset));
  x: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  y: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
  stroke-dasharray: var(--glow-line-length) calc(50px - var(--glow-line-length));
}

.glow-effect:is(:hover) :is(.glow-line, .glow-blur) {
  stroke-dashoffset: -80px;
  transition: stroke-dashoffset var(--animation-speed) ease-in;
}

.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
}

.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
}

.glow-effect:is(:hover) .glow-container {
  animation: glow-visibility ease-in-out var(--animation-speed);
}

@keyframes glow-visibility {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.glow-effect[data-glow-offset="true"] {
  --glow-offset: 10px;
}
