/* src/index.css */
@tailwind utilities;
@tailwind components;
@tailwind base;

html {
  scroll-behavior: smooth;
}

:root {
  --gradient-body : linear-gradient(90deg, rgb(184, 17, 245) 20%, rgb(159, 1, 159) 50% , rgb(144, 4, 123),  rgb(97, 0, 83));
  // --gradient-2: linear-gradient(290deg, hsla(290, 93%, 16%, 1) 30%, hsla(279, 88%, 61%, 1) 80%, rgb(198, 91, 255) 100%);
  --color-1:#ffffff;
  --gradient-section-1:linear-gradient(1turn, transparent 85%,  rgba(0, 0, 0, 0.277));
  --gradient-section-2 : linear-gradient(1turn , rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.777) 70%, rgba(0, 0, 0, 0.651) 80%, rgba(0, 0, 0, 0.36) 92%, transparent );
  // --gradient-2: linear-gradient(61deg, hsla(290, 93%, 16%, 1) 30%, hsla(279, 88%, 61%, 1) 80%, rgb(198, 91, 255) 100%);
}

// *{
//   border:1px solid black;
// }

body{
  font-family: "Alatsi";
  font-weight:200;
  font-style: normal;
  background-size: 300%;
  animation: bg-animation 10s infinite;
  background-image: var(--gradient-section-1), var(--gradient-body);
}



// animating gradient

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position:left};
}


.about-section{
  background-image: var(--gradient-section-2), url('./blob-haikei.svg') ;
  background-repeat: no-repeat;
  // background-size: 70%;
  background-position: bottom;
}


// fade-in transition
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.5s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}